
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/abstract\ bg.jpg)
}

header {
    text-align: center;
    background-image: url(img/blue1.jpg);
    color: #fff;
    padding: 2rem 0;
}

header h1 {
    font-size: 2rem;
    font-family: "Press Start 2P","consolas",serif;
}

header p {
    font-size: 1.2rem;
}

nav {
    background-color: beige;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
}

.interests {
    padding: 0 50px 50px;
}

.interests ul {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    justify-content: space-between;
  
}

.interests ul li {
    list-style: none;
    color: white;
    width: calc(100%/6);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: rgb(4, 16, 70);
    text-align: center;
    cursor: pointer;
}

.interests ul li i {
    font-size: 2em;
}

section {
    padding: 3rem;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-size: cover;
    background-image: url(img/lightblue.jpg);
}

section h2 {
    font-size: 1.8rem;
    text-align: center;
    color: rgb(1, 26, 134);
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Press Start 2P","consolas",serif;
    text-decoration: underline;
}

section img {
    margin-top: 20px;
}

.aboutme p {
    color: black;
    margin: 40px;
}

section p {
    margin-top: 30px;
    color: white;
}

.experience1 {
    margin: 20px 0;
}

.experience1 h3 {
    font-size: 1.4rem;
    color: rgb(28, 28, 112);
    font-family: 'Libre Baskerville', serif;
}

.experience1 p {
    color: black;
    margin: 40px;
}

.experience1 a {
    font-family: "Press Start 2P","consolas",serif;
    font-size: smaller;
    font-weight: bold;
}

hr {
    background-color: transparent;
    border-top: 4px dashed white;
}

.skills {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    margin-top: 20px;
    display: inline-block;
}

.skills h3 {
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 40px;
    font-family: "Press Start 2P","consolas",serif;
    
}

.progress-bar {
    background-color: white;
    width: 400px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
    background-color: rgb(14, 3, 77);
}

.progress-bar div span {
    height: 40px;
    font-weight: 40px;
    border-radius: 50%;
    background-color: rgb(13, 37, 143);
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html {
    animation: html 1s linear forwards 0.5s;
}

.java {
    animation: java 1s linear forwards 0.5s;
}

.css {
    animation: css 1s linear forwards 0.5s;
}

.python {
    animation: python 1s linear forwards 0.5s;
}

.gd {
    animation: gd 1s linear forwards 0.5s;
}

.tm {
    animation: tm 1s linear forwards 0.5s;
}

.ct {
    animation: ct 1s linear forwards 0.5s;
}

.cp {
    animation: cp 1s linear forwards 0.5s;
}
@keyframes html {
    100% {
        width: 75%;
    }
}

@keyframes java {
    100% {
        width: 60%;
    }
}

@keyframes css {
    100% {
        width: 65%;
    }
}

@keyframes python {
    100% {
        width: 70%;
    }
}

@keyframes gd {
    100% {
        width: 80%;
    }
}

@keyframes tm {
    100% {
        width: 85%;
    }
}

@keyframes ct {
    100% {
        width: 70%;
    }
}

@keyframes cp {
    100% {
        width: 65%;
    }
}

.contactinfo {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    display: inline-block;
    text-align: center;
    line-height: 60px;
}
  
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.contactinfo li {
    list-style: none;
    display: flex;
    gap: 10px;
    color: black;
}

footer {
    text-align: center;
    background-image: url(img/starry\ night.jpg);
    color: #fff;
    padding: 20px;
    font-family: "Press Start 2P","consolas",serif;
    font-size: larger;
}
